name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: p6m7g8-actions/checkout@main
        with:
          fetch-depth: 0
      - name: Release
        uses: ./
        with:
          gh_token: ${{ secrets.P6_A_GH_TOKEN }}
